Repository elastic/elasticsearch-net, pull requests merged in 2022-05, with the labels that each got.

#6387 [DOCS] Adds Configuration section to the client docs
  docs/configuration.asciidoc
  docs/high-level.asciidoc
  docs/index.asciidoc
Labels: Docs, 8.x

#6401 [DOCS] Adds Configuration section to the client docs
  docs/client-concepts/connection-pooling/exceptions/unrecoverable-exceptions.asciidoc
  docs/client-concepts/high-level/getting-started.asciidoc
  docs/configuration.asciidoc
  docs/high-level.asciidoc
  docs/index.asciidoc
  docs/redirects.asciidoc
Labels: Docs, 8.x

#6408 Add missing data attribute to pipeline on ReindexDestiation
  src/Nest/Document/Multiple/ReindexOnServer/ReindexDestination.cs
  tests/Tests/Indices/IndexTemplates/IndexTemplateApiTests.cs
Labels: bug, 7.x, v7.17.2

#6411 Fix code snippet in documentation
  docs/client-concepts/connection/connecting-to-elasticsearch-v8.asciidoc
  tests/Tests/ClientConcepts/Certificates/WorkingWithCertificates.doc.cs
  tests/Tests/ClientConcepts/Connection/ConnectingToElasticsearchV8.doc.cs
Labels: Docs, 7.x

#6420 Generate additional client method overloads
  src/Elastic.Clients.Elasticsearch/Api/IndexRequest.cs
  src/Elastic.Clients.Elasticsearch/Client/ElasticsearchClient-Manual.cs
  src/Elastic.Clients.Elasticsearch/Client/IndexManyExtensions.cs
  src/Elastic.Clients.Elasticsearch/Client/NamespacedClientProxy.cs
  src/Elastic.Clients.Elasticsearch/Common/Infer/DocumentPath/DocumentPath.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Api/ApiUrlsLookup.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Api/DeleteByQueryRequest.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Api/IndexRequest.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Api/ReindexRequest.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Api/Security/SecurityCreateApiKeyRequest.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Api/UpdateByQueryRequest.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Client/ElasticsearchClient.AsyncSearch.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Client/ElasticsearchClient.Autoscaling.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Client/ElasticsearchClient.Ccr.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Client/ElasticsearchClient.Cluster.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Client/ElasticsearchClient.DanglingIndices.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Client/ElasticsearchClient.Enrich.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Client/ElasticsearchClient.Eql.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Client/ElasticsearchClient.Features.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Client/ElasticsearchClient.Graph.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Client/ElasticsearchClient.Ilm.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Client/ElasticsearchClient.Indices.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Client/ElasticsearchClient.Ingest.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Client/ElasticsearchClient.License.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Client/ElasticsearchClient.Logstash.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Client/ElasticsearchClient.Migration.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Client/ElasticsearchClient.Ml.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Client/ElasticsearchClient.Nodes.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Client/ElasticsearchClient.SearchableSnapshots.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Client/ElasticsearchClient.Security.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Client/ElasticsearchClient.Slm.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Client/ElasticsearchClient.Snapshot.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Client/ElasticsearchClient.Sql.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Client/ElasticsearchClient.Ssl.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Client/ElasticsearchClient.TransformManagement.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Client/ElasticsearchClient.Xpack.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Client/ElasticsearchClient.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Enums/Enums.NoNamespace.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Highlight.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/HighlightBase.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/HighlightField.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Mapping/DynamicProperty.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Mapping/Properties.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Migration/MigrationFeature.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/RemoteSource.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Security/ApplicationPrivileges.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Security/IndexPrivileges.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Security/RoleDescriptor.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Slices.g.cs
  tests/Tests/Document/Multiple/Bulk/BulkApiTests.cs
  tests/Tests/Document/Single/Source/SourceApiTests.cs
Labels: enhancement, backport 8.0, backport 8.1, 8.x, backport 8.2, v8.0.0-alpha.10, backport 8.3
