Repository elastic/elasticsearch-net, pull requests merged in 2022-09, with the labels that each got.

#6655 [DOCS] Removes outdated pages from docs
  docs/connecting.asciidoc
  docs/index.asciidoc
  docs/redirects.asciidoc
Labels: Docs, v8.0.0, 8.x

#6657 [Backport 8.5][DOCS] Removes outdated pages from docs
  docs/connecting.asciidoc
  docs/index.asciidoc
  docs/redirects.asciidoc
Labels: Docs, 8.x

#6659 [Backport 8.3][DOCS] Removes outdated pages from docs
  docs/connecting.asciidoc
  docs/index.asciidoc
  docs/redirects.asciidoc
Labels: Docs, 8.x

#6660 [Backport 8.2][DOCS] Removes outdated pages from docs
  docs/connecting.asciidoc
  docs/index.asciidoc
  docs/redirects.asciidoc
Labels: Docs, 8.x

#6661 [Backport 8.1][DOCS] Removes outdated pages from docs
  docs/connecting.asciidoc
  docs/index.asciidoc
  docs/redirects.asciidoc
Labels: Docs, 8.x

#6662 [Backport 8.0][DOCS] Removes outdated pages from docs
  docs/connecting.asciidoc
  docs/index.asciidoc
  docs/redirects.asciidoc
Labels: Docs, 8.x

#6663 [DOCS] Adds redirect to indexing-documents ID
  docs/redirects.asciidoc
Labels: Docs, v8.0.0, 8.x

#6658 [Backport 8.4][DOCS] Removes outdated pages from docs
  docs/connecting.asciidoc
  docs/index.asciidoc
  docs/redirects.asciidoc
Labels: Docs, 8.x

#6672 [8.3][DOCS] Backports redirects
  docs/redirects.asciidoc
Labels: Docs, 8.x

#6674 [8.1][DOCS] Backports redirects
  docs/redirects.asciidoc
Labels: Docs, 8.x

#6673 [8.2][DOCS] Backports redirects
  docs/redirects.asciidoc
Labels: Docs, 8.x

#6675 [8.0][DOCS] Backports redirects
  docs/redirects.asciidoc
Labels: Docs, 8.x

#6679 Generate the 8.4 version of the spec
  src/Elastic.Clients.Elasticsearch/_Generated/Api/ApiUrlsLookup.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Api/AsyncSearch/AsyncSearchSubmitRequest.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Api/SearchRequest.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Api/Security/SecurityUpdateApiKeyRequest.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Api/Security/SecurityUpdateApiKeyResponse.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Client/ElasticsearchClient.Security.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/KnnQuery.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/MultisearchBody.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Security/ApplicationGlobalUserPrivileges.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Security/ApplicationPrivileges.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Security/FieldSecurity.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Security/GlobalPrivilege.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Security/IndicesPrivileges.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Security/IndicesPrivilegesQuery.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Security/ManageUserPrivileges.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Security/RoleDescriptor.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Security/RoleTemplateInlineScript.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Security/RoleTemplateQuery.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Security/RoleTemplateScript.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Security/TransientMetadataConfig.g.cs
Labels: backport 8.0, backport 8.1, 8.x, backport 8.2, backport 8.3, backport 8.4, backport 8.5

#6418 [DOCS] Adds Examples section to .NET docs
  docs/examples.asciidoc
  docs/index.asciidoc
Labels: Docs, v8.0.0, backport 8.0, backport 8.1, 8.x, backport 8.2, backport 8.3, backport 8.4, backport 8.5

#6691 [DOCS] Adds Examples section to .NET docs
  docs/examples.asciidoc
  docs/index.asciidoc
Labels: Docs, backport 8.0, backport 8.1, 8.x, backport 8.2, backport 8.3, backport 8.4
