Repository elastic/elasticsearch-net, pull requests merged in 2023-04, with the labels that each got.

#7516 [8.0][DOCS] Creates custom landing page for the .NET client book
  docs/index-custom-title-page.html
Labels: Docs

#7515 [8.1][DOCS] Creates custom landing page for the .NET client book
  docs/index-custom-title-page.html
Labels: Docs

#7514 [8.2][DOCS] Creates custom landing page for the .NET client book
  docs/index-custom-title-page.html
Labels: Docs

#7513 [8.3] [DOCS] Creates custom landing page for the .NET client book
  docs/index-custom-title-page.html
Labels: Docs

#7512 [8.4] [DOCS] Creates custom landing page for the .NET client book
  docs/index-custom-title-page.html
Labels: Docs

#7517 Add release notes for 8.0.9.
  docs/release-notes/release-notes-8.0.9.asciidoc
  docs/release-notes/release-notes.asciidoc
Labels: Docs, backport 8.0, backport 8.1, 8.x, backport 8.2, backport 8.3, backport 8.4, backport 8.5, backport 8.6, backport 8.7

#7511 [8.5] [DOCS] Creates custom landing page for the .NET client book
  docs/index-custom-title-page.html
Labels: Docs

#7510 [8.6] [DOCS] Creates custom landing page for the .NET client book
  docs/index-custom-title-page.html
Labels: Docs

#7526 [8.6] [DOCS] Changes hero image to contain .NET logo
  docs/index-custom-title-page.html
Labels: Docs

#7527 [8.5] [DOCS] Changes hero image to contain .NET logo
  docs/index-custom-title-page.html
Labels: Docs

#7528 [8.4] [DOCS] Changes hero image to contain .NET logo
  docs/index-custom-title-page.html
Labels: Docs

#7530 Add support for geo metric aggregations.
  exclusion.dic
  src/Elastic.Clients.Elasticsearch/Types/Aggregations/AggregateDictionaryConverter.cs
  src/Elastic.Clients.Elasticsearch/Types/GeoLocation.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Aggregations/AggregateDictionary.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Aggregations/Aggregation.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Aggregations/GeoBoundsAggregate.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Aggregations/GeoBoundsAggregation.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Aggregations/GeoCentroidAggregate.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Aggregations/GeoCentroidAggregation.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Aggregations/GeoLineAggregate.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Aggregations/GeoLineAggregation.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Aggregations/GeoLinePoint.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Aggregations/GeoLineSort.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/GeoLine.g.cs
  tests/Tests.Core/Extensions/ClientExtensions.cs
  tests/Tests.Core/ManagedElasticsearch/Clusters/XPackCluster.cs
  tests/Tests.Core/ManagedElasticsearch/Tasks/EnsureNativeSecurityRealmEnabledInElasticsearchYaml.cs
  tests/Tests/Aggregations/Metric/GeoBoundsAggregationUsageTests.cs
  tests/Tests/Aggregations/Metric/GeoCentroidAggregationUsageTests.cs
  tests/Tests/Aggregations/Metric/GeoLineAggregationUsageTests.cs
  tests/Tests/_VerifySnapshots/GeoBoundsAggregationUsageTests.VerifyDescriptorJson.verified.txt
  tests/Tests/_VerifySnapshots/GeoBoundsAggregationUsageTests.VerifyInitializerJson.verified.txt
  tests/Tests/_VerifySnapshots/GeoCentroidAggregationUsageTests.VerifyDescriptorJson.verified.txt
  tests/Tests/_VerifySnapshots/GeoCentroidAggregationUsageTests.VerifyInitializerJson.verified.txt
  tests/Tests/_VerifySnapshots/GeoCentroidNoResultsAggregationUsageTests.VerifyDescriptorJson.verified.txt
  tests/Tests/_VerifySnapshots/GeoCentroidNoResultsAggregationUsageTests.VerifyInitializerJson.verified.txt
  tests/Tests/_VerifySnapshots/GeoLineAggregationUsageTests.VerifyDescriptorJson.verified.txt
  tests/Tests/_VerifySnapshots/GeoLineAggregationUsageTests.VerifyInitializerJson.verified.txt
  tests/Tests/_VerifySnapshots/NestedGeoCentroidAggregationUsageTests.VerifyDescriptorJson.verified.txt
  tests/Tests/_VerifySnapshots/NestedGeoCentroidAggregationUsageTests.VerifyInitializerJson.verified.txt
Labels: enhancement, backport 8.1, 8.x, backport 8.2, backport 8.3, backport 8.4, backport 8.5, backport 8.6, v8.1.0, backport 8.7

#7549 Update to latest transport to ensure ActivitySource is static.
  benchmarks/Benchmarks/packages.lock.json
  benchmarks/Profiling/packages.lock.json
  src/Elastic.Clients.Elasticsearch.JsonNetSerializer/packages.lock.json
  src/Elastic.Clients.Elasticsearch/Client/ElasticsearchClient.cs
  src/Elastic.Clients.Elasticsearch/Elastic.Clients.Elasticsearch.csproj
  src/Elastic.Clients.Elasticsearch/packages.lock.json
  src/Playground/packages.lock.json
  tests/Tests.ClusterLauncher/packages.lock.json
  tests/Tests.Core/packages.lock.json
  tests/Tests.Domain/packages.lock.json
  tests/Tests/packages.lock.json
Labels: bug, backport 8.0, backport 8.1, 8.x, backport 8.2, backport 8.3, backport 8.4, backport 8.5, backport 8.6, backport 8.7, v8.0.10

#7558 Update integration jobs matrix to latest versions
  .github/workflows/integration-jobs.yml
Labels: Infra, backport 8.0, backport 8.1, 8.x, backport 8.2, backport 8.3, backport 8.4, backport 8.5, backport 8.6, backport 8.7

#7567 Add support for task APIs.
  src/Elastic.Clients.Elasticsearch/_Generated/Api/ApiUrlLookup.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Api/Tasks/CancelRequest.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Api/Tasks/CancelResponse.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Api/Tasks/GetTasksRequest.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Api/Tasks/GetTasksResponse.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Api/Tasks/ListRequest.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Api/Tasks/ListResponse.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Client/ElasticsearchClient.Tasks.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Client/ElasticsearchClient.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Enums/Enums.Tasks.g.cs
Labels: enhancement, backport 8.1, 8.x, backport 8.2, backport 8.3, backport 8.4, backport 8.5, backport 8.6, v8.1.0, backport 8.7

#7576 Add support for pinned query
  src/Elastic.Clients.Elasticsearch/_Generated/Types/QueryDsl/PinnedDoc.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/QueryDsl/PinnedQuery.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/QueryDsl/Query.g.cs
  tests/Tests/QueryDsl/Specialized/PinnedQueryUsageTests.cs
  tests/Tests/_VerifySnapshots/PinnedQueryUsageTests.VerifyDescriptorJson.verified.txt
  tests/Tests/_VerifySnapshots/PinnedQueryUsageTests.VerifyInitializerJson.verified.txt
Labels: enhancement, backport 8.1, 8.x, backport 8.2, backport 8.3, backport 8.4, backport 8.5, backport 8.6, v8.1.0, backport 8.7

#7584 Add release notes for 8.0.10.
  docs/release-notes/release-notes-8.0.10.asciidoc
  docs/release-notes/release-notes.asciidoc
Labels: Docs, backport 8.0, backport 8.1, 8.x, backport 8.2, backport 8.3, backport 8.4, backport 8.5, backport 8.6, backport 8.7

#7615 Avoid side effects when combining with And operator
  .editorconfig
  exclusion.dic
  src/Elastic.Clients.Elasticsearch/Types/QueryDsl/BoolQueryAndExtensions.cs
  src/Elastic.Clients.Elasticsearch/Types/QueryDsl/SearchQuery.cs
  tests/Tests/QueryDsl/BoolDsl/AndOperatorUsageTests.cs
Labels: enhancement, backport 8.1, 8.x, backport 8.2, backport 8.3, backport 8.4, backport 8.5, backport 8.6, v8.1.0, backport 8.7

#7632 OpenTelemetry tweaks
  src/Elastic.Clients.Elasticsearch/Client/ElasticsearchClient.cs
Labels: Infra, backport 8.0, backport 8.1, 8.x, backport 8.2, backport 8.3, backport 8.4, backport 8.5, backport 8.6, backport 8.7

#7652 Documentation improvements for introduction
  docs/index.asciidoc
  docs/install.asciidoc
  docs/intro.asciidoc
Labels: Docs, backport 8.0, backport 8.1, 8.x, backport 8.2, backport 8.3, backport 8.4, backport 8.5, backport 8.6, backport 8.7

#7653 Update introduction documentation for v7
  docs/introduction.asciidoc
  tests/Tests/Documentation/DocumentationTestBase.cs
  tests/Tests/introduction.asciidoc
Labels: Docs, 7.x
