Repository elastic/elasticsearch-net, pull requests merged in 2023-09, with the labels that each got.

#7932 [DOCS] Fix `welcome-to-elastic` link
  docs/index-custom-title-page.html
Labels: Docs, backport 8.0, backport 8.1, backport 8.2, backport 8.3, backport 8.4, backport 8.5, backport 8.6, backport 8.7, backport 8.8, backport 8.9, backport 8.10

#7934 Add release notes for 8.9.3
  docs/release-notes/release-notes-8.9.3.asciidoc
  docs/release-notes/release-notes.asciidoc
Labels: Docs, backport 8.9, backport 8.10

#7953 Add `TDigestPercentilesAggregate`
  src/Elastic.Clients.Elasticsearch/Types/Aggregations/AggregateDictionaryConverter.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Aggregations/AggregateDictionary.g.cs
  src/Elastic.Clients.Elasticsearch/_Generated/Types/Aggregations/TDigestPercentilesAggregate.g.cs
Labels: enhancement, 8.x, backport 8.10

#7956 Add `Similarity` to `KnnQuery`
  src/Elastic.Clients.Elasticsearch/_Generated/Types/KnnQuery.g.cs
Labels: enhancement, 8.x, backport 8.10, v8.10.0
