Repository elastic/elasticsearch-net, pull requests merged in 2024-10, with the labels that each got.

#8372 [DOCS] Spruce up the Introduction
  docs/intro.asciidoc
Labels: 7.x, 8.x, backport serverless, Area: Documentation, backport 8.x

#8374 Add more examples to the documentation
  docs/index.asciidoc
  docs/usage/aggregations.asciidoc
  docs/usage/index.asciidoc
  docs/usage/mappings.asciidoc
  docs/usage/query.asciidoc
Labels: 8.x, backport serverless, Area: Documentation, backport 8.x

#8379 Improve id inference
  src/Elastic.Clients.Elasticsearch/_Shared/Core/Infer/Id/IdResolver.cs
Labels: 8.x, backport serverless, Category: Enhancement, Area: Client, backport 8.x

#8380 Add `DateTimeOffset` to the known types for `ObjectToInferredTypesConverter`
  src/Elastic.Clients.Elasticsearch/_Shared/Serialization/ObjectToInferredTypesConverter.cs
Labels: 8.x, backport serverless, Category: Enhancement, Area: Client, backport 8.x

#8373 Add `WithAlias` extensions for CreateIndexRequestDescriptor
  src/Elastic.Clients.Elasticsearch.Shared/Api/Extensions/CreateIndexRequestDescriptorExtensions.cs
  src/Elastic.Clients.Elasticsearch/_Shared/Api/IndexManagement/ExistsAliasResponse.cs
  src/Elastic.Clients.Elasticsearch/_Shared/Api/IndexManagement/ExistsIndexTemplateResponse.cs
  src/Elastic.Clients.Elasticsearch/_Shared/Api/IndexManagement/ExistsTemplateResponse.cs
Labels: 8.x, backport serverless, Category: Enhancement, Area: Client, backport 8.x
